/* Container holding the image and the text */
.container {
    position: relative;
    /* text-align: center; */
    color: white;
    width: 20vh;
    display: inline-block;
}

img {
    width: 20vh;
}

.card-target {
    background-image: radial-gradient(rgba(247, 232, 31, 1), rgba(247, 232, 31, 0.3));
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 34%;
    right: 14.5%;
    transform: translateX(+50%) translateY(+50%);
    color:white;
}

.armor {
    position: absolute;
    bottom: 45%;
    right: 2%;
    width: 25%;
}

.armor-text {
    position: absolute;
    bottom: 56%;
    right: 14.5%;
    transform: translateX(+50%) translateY(+50%);
    color:white;
}