/* Container holding the image and the text */
.container {
    font-family: optibelwe, sans-serif;
    position: relative;
    text-align: center;
    color: white;
    width: 100px;
    display: inline-block;
}

.card-active {
    background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0,0));
}

/* Bottom right text */
.bottom-right {
     font-family: optibelwe, sans-serif;
     position: absolute;
     bottom: 40px;
     right: 14px;
     transform: translateX(+50%);
}

.name {
    font-family: optibelwe, sans-serif;
    font-size: 7px;
    align: center;
    position: absolute;
    top: 67px;
    left: 12px;
}

.desc {
    font-family: optibelwe, sans-serif;
    font-size: 5px;
    align: center;
    position: absolute;
    top: 90px;
    left: 15px;
}

p {
  font-family: optibelwe, sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'optibelwe';
  src: url('/assets/optibelwe-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style:normal;
}
