/* Container holding the image and the text */
.container {
    position: relative;
    /* text-align: center; */
    color: white;
    width: 8vw;
    display: inline-block;
}

img {
    width: 8vw;
}

.card-active {
    background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0,0));
}

/* Bottom right text */
.bottom-right {
     position: absolute;
     bottom: 4VH;
     right: 2.4vw;
     transform: translateX(+50%);
}
