<div class="background">
    <title>Mini-Hearthstone</title>

    <div class="centerDiv">
        <img class="logo" src="assets/img/hearthstone_logo.png">
        
        <mat-form-field>
            <input matInput [(ngModel)]="username" placeholder="Nom d'utilisateur" required>
        </mat-form-field>
    
        <h3>Choisissez votre Héros</h3>
        <br/>
        <div class="herosDiv">
            <div *ngFor="let hero of heros" class="heros" (click)="chooseHero(hero.id)">
                <div class="herosDiv">
                    <img [ngClass]="{ 'chosen': chosenHero == hero.id }" src="assets/img/{{hero.id}}_PV.png" width="45%">
                    <img [ngClass]="{ 'chosen': chosenHero == hero.id }" src="assets/img/{{hero.id}}_PH.png" width="45%">
                </div>
            </div>
        </div>
        <br/>
        <button color="primary" mat-raised-button [disabled]="username == ''" (click)="submit()">Jouer</button>
    </div>
</div>