<title>Mini-Hearthstone</title>

<div style="text-align: center">
    <img class="logo" src="assets/img/hearthstone_logo.png">

    <input [(ngModel)]="username" placeholder="Nom d'utilisateur" required>

    <h3>Choisissez votre Héros</h3>
    <div style="width: 100%">
        <div *ngFor="let hero of heros" style="width: 33%; display: inline-block" (click)="chooseHero(hero.id)">
            <div style="width: 100%">
                <img [ngClass]="{ 'chosen': chosenHero == hero.id }" src="assets/img/{{hero.id}}_PV.png" width="45%">
                <img [ngClass]="{ 'chosen': chosenHero == hero.id }" src="assets/img/{{hero.id}}_PH.png" width="45%">
            </div>
        </div>
    </div>
    <button color="primary" mat-raised-button [disabled]="username == ''" (click)="submit()">Jouer</button>
</div>