p {
  font-family: optibelwe, sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'optibelwe';
  src: url('/assets/optibelwe-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style:normal;
}
