<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="start">Start</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="choose-hero">Hero</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="game">Game</a></li>
		</ul>
	</div>
</nav> -->
<h1>Welcome to {{ title }}!</h1>
<nav>
	<a routerLink="/start" routerLinkActive="active">Start Page</a>
	<a routerLink="/choose-hero" routerLinkActive="active">Choose Hero</a>
	<a routerLink="/game" routerLinkActive="active">Play Game</a>
</nav>
<div style="text-align:center">
	<h1>
		Welcome to {{title}}!
	</h1>
	<div class="chat-container">
		<div class="chat">
			<div class="message"></div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="send-button">
		<button class="send" (click)="sendMessage(input.value)">Send</button>
		<input id="input" type="text" #input>
	</div>
</div>
<router-outlet></router-outlet>