<h2 *ngIf="showLoader">Loader {{error}}</h2>
<div *ngIf="!showLoader">
    <h2>Game</h2>
    <div class="row">
        <div class="column">
                <mat-list dense>
                        <mat-grid-tile-header> Joueur : {{player.username}} </mat-grid-tile-header>
                        <mat-list-item> Joueur {{playerNumber + 1}} </mat-list-item>
                        <mat-list-item> Hero : {{player.hero.name}} </mat-list-item>
                        <mat-list-item> Deck : </mat-list-item>
                        <mat-list-item *ngFor="let card of player.deck">
                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                        <mat-list-item> Hand : </mat-list-item>
                        <mat-list-item *ngFor="let card of player.hand">
                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                        <mat-list-item> Board : </mat-list-item>
                        <mat-list-item *ngFor="let card of player.board">
                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                    </mat-list>
        </div>

      <!-- Affichage des boards des deux joueurs et de la main du joueur
           La nombre de cartes que l'adversaire a, est affiché mais les cartes sont cachées.

      <div class="column">
        <button *ngFor="let card of player.board">
          {{card.type}} {{card.name}} {{card.id}}
        </button>
      </div>

      <div class="column">
        <button *ngFor="let card of otherPlayer.board">
          {{card.type}} {{card.name}} {{card.id}}
        </button>
      </div>

      <div class="column">
        <button *ngFor="let card of player.hand">
            {{card.type}} {{card.name}} {{card.id}}
        </button>
      </div>

      <div class="column">
        <button *ngFor="let card of ohterPlayer.hand">

        </button>
      </div>

      -->

        <div class="column">
                <mat-list dense>
                        <mat-grid-tile-header> Adversaire : {{otherPlayer.username}} </mat-grid-tile-header>
                        <mat-list-item> Joueur {{((playerNumber + 1) % 2) + 1}} </mat-list-item>
                        <mat-list-item> Hero : {{otherPlayer.hero.name}} </mat-list-item>
                        <mat-list-item> Deck : </mat-list-item>

                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                        <mat-list-item> Hand : </mat-list-item>
                        <mat-list-item *ngFor="let card of otherPlayer.hand">
                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                        <mat-list-item> Board : </mat-list-item>
                        <mat-list-item *ngFor="let card of otherPlayer.board">
                            {{card.type}} {{card.name}} {{card.id}}
                        </mat-list-item>
                    </mat-list>
        </div>
    </div>
    <button mat-button (click)="playCard()">PlayCard</button>
</div>
