<title>Mini-Hearthstone</title>
<body>
    <div *ngIf="showLoader">
        <figure>
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
        </figure>
    </div>
    <p *ngIf="showLoader" class="waitingText">{{error}}</p>
    <div class="background" *ngIf="!showLoader">
        <div class="manaAdv">
            <p style="color:3b619b">Mana &nbsp; &nbsp; &nbsp; &nbsp; {{otherPlayer.manaPool}} / {{otherPlayer.manaMaxTurn}}</p>
        </div>

        <div class="imgadvhero">
            <hero-card-component [card]="otherPlayer.hero" (clicked)="onClickHero(otherPlayer.uuid)" [disabled]="!(yourTurn && showEnemyHero && !showOnlyTaunt)"></hero-card-component>
        </div>

        <div class="advHand">
            <img style="width: 8vw;" *ngFor="let card of otherPlayer.hand" src="assets/img/card-back.png" width="100px">
        </div>

        <div class="advBoard">
            <card-component *ngFor="let card of otherPlayer.board" [card]="card" [disabled]="!(yourTurn && showEnemyMinions && (!showOnlyTaunt || card.taunt))"
                (clicked)="onClickMinion(otherPlayer.uuid, otherPlayer.board.indexOf(card))"></card-component>
        </div>

        <div class="board">
            <card-component *ngFor="let card of player.board" [card]="card" [disabled]="!(yourTurn && showAllyMinions && ((!card.attacked && card.damage != 0) || waitingForPlayCardTarget || waitingForAttackTarget || waitingForHeroPowerTarget))"
                (clicked)="onClickMinion(player.uuid, player.board.indexOf(card))"></card-component>
        </div>

        <div class="hand">
            <card-component *ngFor="let card of player.hand" [card]="card" (clicked)="onClickHand(player.hand.indexOf(card))"
                [disabled]="!(yourTurn && showHand && card.manaCost <= player.manaPool)"></card-component>
        </div>

        <div class="imghero">
            <hero-card-component [card]="player.hero" (clicked)="onClickHero(player.uuid)" [disabled]="!(yourTurn && showAllyHero)"></hero-card-component>
        </div>

        <!-- <div class="inf">
            <a>{{player.hero.healthPoints}}</a>
        </div>

        <div class="advInf">
            <a>{{otherPlayer.hero.healthPoints}}</a>
        </div> -->

        <div class="power">
            <button (click)="onClickHeroPower()" [disabled]="!(yourTurn && showAllyHeroPower)">
                <p>Pouvoir hero</p>
            </button>
        </div>

        <div class="mana">
            <p style="color:3b619b">
                Mana &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <progress id="mana" value="{{player.manaPool}}" max="{{player.manaMaxTurn}}"></progress>
            </p>
        </div>

        <div class="ftour">
            <button (click)="endTurn()" [disabled]="!yourTurn" style="width:110px; height:27px; background-color:#efc91c;">
                Fin du tour
            </button>
        </div>
    </div>
</body>