/* Container holding the image and the text */
.container {
    position: relative;
    color: white;
    width: 8vw;
    display: inline-block;
}

img {
    width: 8vw;
}

.card-active {
    background-image: radial-gradient(rgba(0,255,0,1), rgba(0,255,0,0));
}

/* Top left text */
.top-left {
    position: absolute;
    top: 68.5%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 4.5%;
    left: 16%;
    transform: translateX(-50%) translateY(+50%);
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 4.5%;
    right: 12.5%;
    transform: translateX(+50%) translateY(+50%);
}

/* -------------------------- Hover card -------------------------- */
.hover{
    pointer-events:auto
}

.action {
    visibility: hidden;
    width: 15vw;
}

.wrapper{
    pointer-events:none
}

.wrapper:hover > .action{
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; /* Safari */
    visibility: visible;
    position: relative;
    left: -3.5vw;
}